<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <%# Restaurant %>

      <h1><%= @restaurant.name %></h1>

      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Address</th>
            <td><%= @restaurant.address %></td>
          </tr>
          <tr>
            <th scope="row">Phone Number</th>
            <td><%= @restaurant.phone_number %></td>
          </tr>
          <tr>
            <th scope="row">Category</th>
            <td><%= @restaurant.category %></td>
          </tr>
        </tbody>
      </table>

      <div class="mb-5"></div>

      <h1>Edit <%= "#{@restaurant.name}" %></h1>

      <%= simple_form_for @restaurant do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :phone_number %>
        <%= f.input :category, collection: Restaurant::CATEGORIES %>
        <%# Simple Form will set the button to "Edit Restaurant" automatically %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>

      <div class="mb-3"></div>

      <%= link_to "Edit this restaurants", edit_restaurant_path(@restaurant) %>

      <%= link_to "Delete this restaurant",
          restaurant_path(@restaurant),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
      %>

      <div class="mb-5"></div>

      <%# Restaurant - Reviews %>

      <div class="list-group mb-3">
        <% @restaurant.reviews.each do |review| %>

          <li class="list-group-item p-3">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fa-solid fa-star"></i>
                <% else %>
                  <i class="fa-regular fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>

            <p class="mt-3"><%= review.content %></p>

            <%# The route is /restaurants/:restaurant_id/reviews/:id %>
            <%= link_to "Edit this review", edit_restaurant_review_path(@restaurant, review) %>

            <%= link_to "Delete this review",
                restaurant_review_path(@restaurant, review),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
            %>
          </li>

        <% end %>
      </div>

      <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>

      <div class="mb-3"></div>

      <%# Simple Form will set the form_action to "/restaurant/:id/reviews" automatically %>
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>

      <div class="mb-5"></div>

      <%= link_to "See all restaurants", restaurants_path %>
    </div>
  </div>

</div>
